# Ignoring files according to http://microchip.wikidot.com/faq:72
Old/nbproject

vlp_firmware-atmel_master/vlp-firmware_atmel/Build
vlp_firmware-atmel_master/vlp-firmware_atmel/Release
vlp_firmware-atmel_master/*.xml

vlp_firmware-atmel_slave/vlp-firmware_atmel/Build
vlp_firmware-atmel_slave/vlp-firmware_atmel/Release
vlp_firmware-atmel_slave/*.xml

# Ignoring private Makefiles


 